{
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "bracketSameLine": false,
    "printWidth": 120,
    "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@context/(.*)$", "^@components/ui/(.*)$", "^@lib/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
