:root[data-theme='dracula-alucard'] {
  --text: #1F1F1F;
  --background: #FFFBEB;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #CB3A2A;
  }

  h2 {
    color: #14710A;
  }

  h3 {
    color: #036A96;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #CFCFDE;
  }

  .tag-path {
    stroke: var(--text);
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #1F1F1F;
    color: #CFCFDE;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #CB3A2A;
    color: #FFFBEB;
  }
}

:root[data-theme='dracula-dracula'] {
  --text: #F8F8F2;
  --background: #282A36;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #FF5555;
  }

  h2 {
    color: #50FA7B;
  }

  h3 {
    color: #8BE9FD;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #44475A;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #F8F8F2;
    color: 44475A;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #FF5555;
    color: #282A36;
  }
}
