:root[data-theme='sonokai-default'] {
  --text: #e2e2e3;
  --background: #2c2e34;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6077;
  }

  h2 {
    color: #a7df78;
  }

  h3 {
    color: #85d3f2;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #3b3e48;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #3b3e48;
    color: #76cce0;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #363944;
    color: #f39660;
  }
}

:root[data-theme='sonokai-atlantis'] {
  --text: #e1e3e4;
  --background: #2a2f38;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6d7e;
  }

  h2 {
    color: #a5e179;
  }

  h3 {
    color: #7ad5f1;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #3d4455;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #3d4455;
    color: #7ad5f1;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #373c48;
    color: #f69c5e;
  }
}

:root[data-theme='sonokai-andromeda'] {
  --text: #e1e3e4;
  --background: #2b2d3a;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6188;
  }

  h2 {
    color: #a9dc76;
  }

  h3 {
    color: #77d5f0;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #393e53;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #393e53;
    color: #77d5f0;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #363a4e;
    color: #f89860;
  }
}

:root[data-theme='sonokai-shusia'] {
  --text: #e3e1e4;
  --background: #2d2a2e;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6188;
  }

  h2 {
    color: #a9dc76;
  }

  h3 {
    color: #78dce8;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #423f46;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #423f46;
    color: #78dce8;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #3b383e;
    color: #ef9062;
  }
}

:root[data-theme='sonokai-maia'] {
  --text: #e1e2e3;
  --background: #273136;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6d7e;
  }

  h2 {
    color: #a2e57b;
  }

  h3 {
    color: #7cd5f1;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #3a444b;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #3a444b;
    color: #7cd5f1;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #353f46;
    color: #f3a96a;
  }
}
