:root[data-theme='sonokai-default'] {
  --text: #e2e2e3;
  --background: #2c2e34;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ff6077;
  }

  h2 {
    color: #a7df78;
  }

  h3 {
    color: #85d3f2;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #3b3e48;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #3b3e48;
    color: #76cce0;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #363944;
    color: #f39660;
  }
}

