:root[data-theme='catpuccin'][data-variant='latte'] {
  --text: #4c4f69;
  --background: #e6e9ef;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #8839ef;
  }

  h2 {
    color: #7287fd;
  }

  h3 {
    color: #1e66f5;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #dce0e8;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }
}

:root[data-theme='catpuccin'][data-variant='frappe'] {
  --text: #c6d0f5;
  --background: #292c3c;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #ca9ee6;
  }

  h2 {
    color: #babbf1;
  }

  h3 {
    color: #8caaee;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #b5bfe2;
  }

  .tag-path {
    stroke: var(--text);
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }
}

:root[data-theme='catpuccin'][data-variant='macchiato'] {
  --text: #cad3f5;
  --background: #1e2030;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #c6a0f6;
  }

  h2 {
    color: #b7bdf8;
  }

  h3 {
    color: #8aadf4;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #b8c0e0;
  }

  .tag-path {
    stroke: var(--text);
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }
}

:root[data-theme='catpuccin'][data-variant='mocha'] {
  --text: #cdd6f4;
  --background: #181825;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #cba6f7;
  }

  h2 {
    color: #b4befe;
  }

  h3 {
    color: #89b4fa;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #bac2de;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }
}
