:root[data-theme='everforest-light'] {
  --text: #5c6a72;
  --background: #F4F0D9;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #93b259;
  }

  h2 {
    color: #e66868;
  }

  h3 {
    color: #708089;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #FDF6E3;
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #FDF6E3;
    color: #3a94c5;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #F4F0D9;
    color: #f57d26;
  }
}

:root[data-theme='everforest-dark'] {
  --text: #d3c6aa;
  --background: #2D353B;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #a7c080;
  }

  h2 {
    color: #e67e80;
  }

  h3 {
    color: #d3c6aa;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #343f44;
  }

  .tag-path {
    stroke: var(--text);
  }

  .tag-path, .social-path, .commit-path {
    stroke: currentColor;
  }

  .dropdown-button, .dropdown-option {
    background-color: #343f44;
    color: #7fbbb3;
  }

  .dropdown-button:hover, .dropdown-option:hover {
    background-color: #3a464c;
    color: #e69875;
  }
}
