@import "tailwindcss";
@import "tw-animate-css";

section {
  margin-bottom: 2.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(66.451% 0.19299 23.987);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  
  --sc-color: #eb575a;

  --radius: 0.625rem;
}

:root[data-theme='default'] {
  --background: #f5f5f5;
  --text: var(--muted-foreground);
  /* --muted-foreground: oklch(0.556 0 0); */
  /* --card-foreground: oklch(0.556 0 0); */
  .tag-path {
    stroke: var(--text);
  }
}

:root[data-theme='catpuccin'][data-variant='latte'] {
  --text: #4c4f69;
  --background: #e6e9ef;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #8839ef;
  }

  h2 {
    color: #7287fd;
  }

  h3 {
    color: #1e66f5;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #dce0e8;
  }

  .tag-path {
    stroke: var(--text);
  }
}

:root[data-theme='catpuccin'][data-variant='mocha'] {
  --text: #cdd6f4;
  --background: #181825;
  --card-foreground: var(--text);
  --muted-foreground: var(--text);

  h1 {
    color: #cba6f7;
  }

  h2 {
    color: #b4befe;
  }

  h3 {
    color: #89b4fa;
  }

  p, a, .project-card {
    color: var(--text);
  }

  h1:hover, h2:hover, h3:hover, a:hover, .project-card:hover {
    color: var(--sc-color);
  }

  .tag {
    background-color: #bac2de;
  }

  .tag-path {
    stroke: var(--text);
  }
}

:root[data-theme='catpuccin'][data-variant='frappe'] {
  --background: blue;
}

:root[data-theme='catpuccin'][data-variant='macchiato'] {
  --background: green;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb, #eb575a);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover, #c00);
}

/* Scrollbar for Firefox only, as it doesn't support Webkit */
@supports not selector(::-webkit-scrollbar) {
  :root {
    scrollbar-color: var(--scrollbar-thumb, red) transparent;
  }
}
